<div class="dropdown department-dropdown">
    <button class="toggle-btn dropdown-toggle"
            type="button"
            aria-expanded="false">
        {% if verbose_department == 'Any' %}
            Department
        {% else %}
            {{ verbose_department }}
        {% endif %}
    </button>
    <ul class="dropdown-menu">
        {% for field, verbose_field in department_dict.items %}
            {% if not forloop.first %}<div class="dropdown-divider"></div>{% endif %}
            <li>
                <a class="dropdown-item {% if forloop.first %}first-item{% elif forloop.last %}last-item{% endif %} {% if department == field %}active{% endif %}"
                   href="{% url 'people_department_sort' department=field sort_by=sort_by %}">{{ verbose_field }}</a>
            </li>
        {% endfor %}
    </ul>
</div>
