{% extends 'base.html' %}
{% load static %}
{% block content %}
    {% include 'moviedb/movies/includes/detail/backdrop.html' %}
    <div class="detail movie container">
        <div class="row detail-header movie-header">
            <div class="col-12 col-md-4 col-lg-3">
                {% include 'moviedb/movies/includes/detail/poster.html' %}
                {% include 'moviedb/movies/includes/detail/external_links.html' %}
            </div>
            <div class="col-12 col-md-8 col-lg-9 detail-info movie-info">
                <h3 class="detail-title movie-title">
                    {{ movie.title }}
                    {% if movie.release_date %}
                        <a class="dtail-link year-link"
                           href="{% url 'movies_year' sort_by='-tmdb_popularity' decade='any' year=movie.release_date.year %}">{{ movie.release_date.year }}</a>
                    {% endif %}
                    {% include 'moviedb/movies/includes/detail/directors.html' %}
                    {% if movie.original_title != movie.title %}<span class="original-title">{{ movie.original_title }}</span>{% endif %}
                </h3>
                {% if movie.tagline %}<p class="movie-tagline">{{ movie.tagline }}</p>{% endif %}
                {% if movie.overview %}<p class="detail-overview movie-overview">{{ movie.overview }}</p>{% endif %}
                {% include 'moviedb/movies/includes/detail/info_table.html' %}
            </div>
        </div>
        {% include 'moviedb/movies/includes/detail/credits.html' %}
        {% include 'moviedb/movies/includes/detail/collection.html' %}
    </div>
{% endblock %}
{% block script %}
    <script src="{% static 'js/show_more_less.js' %}"></script>
{% endblock %}
