[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
psycopg2-binary = "*"
pillow = "*"
dotenv = "*"
requests = "*"
ratelimit = "*"
unidecode = "*"
aiolimiter = "*"
aiohttp = "*"
django-extensions = "*"
django-debug-toolbar = "*"
tenacity = "*"
colorlog = "*"

[dev-packages]

[requires]
python_version = "3.12"
