{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="detail person container">
        <div class="row detail-header person-header">
            <div class="col-12 col-md-4 col-lg-3">
                {% include 'moviedb/people/includes/detail/poster.html' %}
                {% include 'moviedb/people/includes/detail/external_links.html' %}
            </div>
            <div class="col-12 col-md-8 col-lg-9 detail-info person-info">
                <h3 class="detail-title person-title {% if known_for %}includes-known-for{% endif %}">{{ person.name }}</h3>
                {% if known_for %}
                    <span class="known-for"><span class="known-for-text">Known for</span> {{ known_for }}</span>
                {% endif %}
                {% if person.biography %}<p class="detail-overview person-overview">{{ person.biography }}</p>{% endif %}
            </div>
        </div>
        {% include 'moviedb/people/includes/detail/roles.html' %}
    </div>
{% endblock %}
{% block script %}
    <script src="{% static 'js/dropdown_delay.js' %}"></script>
{% endblock %}
