{% if directors %}
    <span class="directed-by-wrapper">
        <span class="directed-by">Directed by</span>
        {% for director in directors|slice:":2" %}
            <span class="list-element-wrapper">
                <a class="dtail-link director-link"
                   href="{{ director.person.get_absolute_url }}">{{ director.person.name }}</a>
                {% if not forloop.last %}<span class="links-list-comma director-comma">,</span>{% endif %}
                {% if forloop.last and directors|length > 2 %}<span class="links-list-comma director-comma">, ...</span>{% endif %}
            </span>
        {% endfor %}
    </span>
{% endif %}
