{% load humanize %}
<div class="detail-info-table">
    <div class="detail-info-group">
        {% if countries %}
            <div class="detail-info-element" id='countries'>
                <span class="list-element-category">Countr{{ countries|pluralize:"y,ies" }}</span>
                {% for country in countries %}
                    <span class="list-element-wrapper">
                        <a class="dtail-link info-table-link"
                           href="{{ country.get_absolute_url }}">
                            {% if country.alias_name %}
                                {{ country.alias_name }}
                            {% else %}
                                {{ country }}
                            {% endif %}
                        </a>
                        {% if not forloop.last %}<span class="links-list-comma info-comma">,</span>{% endif %}
                    </span>
                {% endfor %}
            </div>
        {% endif %}
        {% if production_countries %}
            <div class="detail-info-element" id='production-countries'>
                <span class="list-element-category">Production Countr{{ production_countries|pluralize:"y,ies" }}</span>
                {% for prod_country in production_countries %}
                    <span class="list-element-wrapper">
                        <a class="dtail-link info-table-link"
                           href="{{ prod_country.get_absolute_url }}">
                            {% if prod_country.alias_name %}
                                {{ prod_country.alias_name }}
                            {% else %}
                                {{ prod_country }}
                            {% endif %}
                        </a>
                        {% if not forloop.last %}<span class="links-list-comma info-comma">,</span>{% endif %}
                    </span>
                {% endfor %}
            </div>
        {% endif %}
    </div>
    <div class="detail-info-group">
        {% if language %}
            <div class="detail-info-element" id='language'>
                <span class="list-element-category">Language</span>
                <a class="dtail-link info-table-link"
                   href="{{ language.get_absolute_url }}">{{ language }}</a>
            </div>
        {% endif %}
        {% if spoken_languages %}
            <div class="detail-info-element" id='spoken-languages'>
                <span class="list-element-category">Spoken Language{{ spoken_languages|pluralize }}</span>
                {% for spoken_language in spoken_languages %}
                    <span class="list-element-wrapper">
                        <a class="dtail-link info-table-link"
                           href="{{ spoken_language.get_absolute_url }}">{{ spoken_language }}</a>
                        {% if not forloop.last %}<span class="links-list-comma info-comma">,</span>{% endif %}
                    </span>
                {% endfor %}
            </div>
        {% endif %}
    </div>
    <div class="detail-info-group">
        {% if genres %}
            <div class="detail-info-element" id='genres'>
                <span class="list-element-category">Gnere{{ genres|pluralize }}</span>
                {% for genre in genres %}
                    <span class="list-element-wrapper">
                        <a class="dtail-link info-table-link"
                           href="{{ genre.get_absolute_url }}">{{ genre }}</a>
                        {% if not forloop.last %}<span class="links-list-comma info-comma">,</span>{% endif %}
                    </span>
                {% endfor %}
            </div>
        {% endif %}
        {% if companies %}
            <div class="detail-info-element" id='companies'>
                <span class="list-element-category">Production Compan{{ companies|pluralize:"y,ies" }}</span>
                {% for company in companies %}
                    <span class="list-element-wrapper">
                        <a class="dtail-link info-table-link"
                           href="{{ company.get_absolute_url }}">{{ company }}</a>
                        {% if not forloop.last %}<span class="links-list-comma info-comma">,</span>{% endif %}
                    </span>
                {% endfor %}
            </div>
        {% endif %}
    </div>
    <div class="detail-info-group">
        {% if movie.budget %}
            <div class="detail-info-element" id='budget'>
                <span class="list-element-category">Budget</span> <span class="detail-info-text">${{ movie.budget|intcomma }}</span>
            </div>
        {% endif %}
        {% if movie.revenue %}
            <div class="detail-info-element" id='revenue'>
                <span class="list-element-category">Revenue</span> <span class="detail-info-text">${{ movie.revenue|intcomma }}</span>
            </div>
        {% endif %}
    </div>
    <div class="detail-info-group">
        {% if movie.status != 6 %}
            <div class="detail-info-element" id='status'>
                <span class="list-element-category">Status</span> <span class="detail-info-text">{{ movie.get_status_display }}</span>
            </div>
        {% endif %}
        {% if movie.release_date %}
            <div class="detail-info-element" id='release-date'>
                <span class="list-element-category">Release Date</span> <span class="detail-info-text">{{ movie.release_date|date:"j F Y" }}</span>
            </div>
        {% endif %}
    </div>
    {% if movie.runtime %}
        <div class="detail-info-element" id='runtime'>
            <span class="detail-info-text">{{ movie.runtime|intcomma }} mins</span>
        </div>
    {% endif %}
</div>
