{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="collection container">
        <h3>{{ collection.name }}</h3>
        {% if collection.poster_path %}
            <img src="https://image.tmdb.org/t/p/w342/{{ collection.poster_path }}"
                 class="rounded"
                 alt="{{ collection.title }}">
        {% endif %}
        {% if collection.overview %}<p>{{ collection.overview }}</p>{% endif %}
        <div id="content-grid">{% include 'moviedb/movie_list.html' with movies=object_list %}</div>
        {% include 'moviedb/partials/pagination.html' %}
    </div>
{% endblock %}
