{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="container">
        <div id="content-container">
            <div class="list-nav">
                {% include 'moviedb/partials/data_type_buttons.html' %}
                {% if list_type == 'movies' %}
                    {% include 'moviedb/partials/sort_dropdown.html' %}
                {% endif %}
            </div>
            <div id="content-grid">
                {% if list_type == 'movies' %}
                    {% include 'moviedb/movie_list.html' %}
                {% else %}
                    {% include 'moviedb/people_list.html' %}
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
