{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% block content %}
    <div class="list-nav">
        {% if company and company.logo_path %}
            <div class="logo-floating-left">
                <img src="https://image.tmdb.org/t/p/w185{{ company.logo_path }}"
                     class="company-logo"
                     alt="{{ company.title }}">
            </div>
        {% endif %}
        <div class="nav-controls">
            {% if list_type == 'movies' %}
                {% include 'moviedb/includes/genres_dropdown.html' %}
                {% include 'moviedb/includes/decade_dropdown.html' %}
                {% if decade != 'any' %}
                    {% include 'moviedb/includes/year_dropdown.html' %}
                {% endif %}
                {% include 'moviedb/includes/filter_dropdown.html' %}
                {% include 'moviedb/includes/sort_dropdown_movies.html' %}
            {% else %}
                {% include 'moviedb/includes/department_dropdown.html' %}
                {% include 'moviedb/includes/sort_dropdown_people.html' %}
            {% endif %}
        </div>
        {% if country %}
            <span class="total-results" id="total-results">Country: {{ country }} - {{ total_results|intcomma }} {{ list_type }}</span>
        {% elif language %}
            <span class="total-results" id="total-results">Language: {{ language }} - {{ total_results|intcomma }} {{ list_type }}</span>
        {% elif company %}
            <span class="total-results" id="total-results">{{ company }} - {{ total_results|intcomma }} {{ list_type }}</span>
        {% else %}
            <span class="total-results" id="total-results">{{ total_results|intcomma }} {{ list_type }}</span>
        {% endif %}
    </div>
    <div id="content-grid">
        {% if total_results %}
            {% if list_type == 'movies' %}
                {% include 'moviedb/movie_list.html' %}
            {% else %}
                {% include 'moviedb/people_list.html' %}
            {% endif %}
            {% include 'moviedb/includes/pagination.html' %}
        {% endif %}
    </div>
{% endblock %}
{% block script %}
    <script src="{% static 'js/mutually_exclusive.js' %}"></script>
{% endblock %}
