{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% block content %}
    <div class="list-nav">
        {% if company and company.logo_path %}
            <div class="logo-floating-left">
                <img src="https://image.tmdb.org/t/p/w185{{ company.logo_path }}"
                     class="company-logo"
                     alt="{{ company.title }}">
            </div>
        {% endif %}
        <div class="nav-controls">
            <div class="nav-top-row">
                {% if list_type == 'movies' %}
                    {% if not genre %}
                        {% include 'moviedb/movies/includes/genres_dropdown.html' %}
                    {% endif %}
                    {% include 'moviedb/movies/includes/decade_dropdown.html' %}
                    {% if decade != 'any' %}
                        {% include 'moviedb/movies/includes/year_dropdown.html' %}
                    {% endif %}
                    {% include 'moviedb/movies/includes/filter_dropdown.html' %}
                    {% include 'moviedb/movies/includes/sort_dropdown.html' %}
                {% else %}
                    {% include 'moviedb/people/includes/department_dropdown.html' %}
                    {% include 'moviedb/people/includes/sort_dropdown.html' %}
                {% endif %}
            </div>
            {% if list_type == 'movies' %}
                {% include 'moviedb/movies/includes/search_form.html' %}
            {% else %}
                {% include 'moviedb/people/includes/search_form.html' %}
            {% endif %}
            {% if country %}
                <span class="total-results" id="total-results">Country: {{ country }} - {{ total_results|intcomma }} {{ list_type }}</span>
            {% elif language %}
                <span class="total-results" id="total-results">Language: {{ language }} - {{ total_results|intcomma }} {{ list_type }}</span>
            {% elif company %}
                <span class="total-results" id="total-results">{{ company }} - {{ total_results|intcomma }} {{ list_type }}</span>
            {% else %}
                <span class="total-results" id="total-results">{{ total_results|intcomma }} {{ list_type }}</span>
            {% endif %}
        </div>
    </div>
    <div id="content-grid">
        {% if total_results %}
            {% if list_type == 'movies' %}
                {% include 'moviedb/movies/movie_list.html' %}
            {% else %}
                {% include 'moviedb/people/people_list.html' %}
            {% endif %}
            {% include 'moviedb/includes/pagination.html' %}
        {% endif %}
    </div>
{% endblock %}
{% block script %}
    <script src="{% static 'js/mutually_exclusive.js' %}"></script>
    <script src="{% static 'js/dropdown_delay.js' %}"></script>
{% endblock %}
