{% extends 'base.html' %}
{% load humanize %}
{% block content %}
    <div class="list-nav" id="other-buttons">
        <div class="nav-controls">
            <div class="nav-top-row">
                {% include 'moviedb/other/includes/other_buttons.html' %}
                {% if list_type == 'companies' %}
                    {% include 'moviedb/other/includes/sort_dropdown_companies.html' %}
                {% endif %}
            </div>
            {% if list_type == 'collections' or list_type == 'companies' %}
                {% include 'moviedb/other/includes/search_form.html' with route_name=list_type %}
            {% endif %}
            <span class="total-results" id="total-results">{{ total_results|intcomma }} {{ list_type }}</span>
        </div>
    </div>
    <div id="content-grid">
        {% if total_results %}
            {% if list_type == 'countries' %}
                {% include 'moviedb/other/countries_list.html' %}
            {% elif list_type == 'languages' %}
                {% include 'moviedb/other/languages_list.html' %}
            {% elif list_type == 'collections' %}
                {% include 'moviedb/other/collections_list.html' %}
            {% elif list_type == 'companies' %}
                {% include 'moviedb/other/companies_list.html' %}
            {% endif %}
            {% include 'moviedb/includes/pagination.html' %}
        {% endif %}
    </div>
{% endblock %}
{% block script %}
    <script src="{% static 'js/dropdown_delay.js' %}"></script>
{% endblock %}
