{% extends 'base.html' %}
{% load humanize %}
{% block content %}
    <div class="list-nav" id="other-buttons">
        <div class="nav-controls">
            <div class="nav-top-row">
                {% include 'moviedb/partials/other_buttons.html' %}
                {% if list_type == 'companies' %}
                    {% include 'moviedb/partials/sort_dropdown_companies.html' %}
                {% endif %}
            </div>
            <span class="total-results" id="total-results">{{ total_results|intcomma }} {{ list_type }}</span>
        </div>
    </div>
    <div id="content-grid">
        {% if list_type == 'countries' %}
            {% include 'moviedb/countries_list.html' %}
        {% elif list_type == 'languages' %}
            {% include 'moviedb/languages_list.html' %}
        {% elif list_type == 'collections' %}
            {% include 'moviedb/collections_list.html' %}
        {% elif list_type == 'companies' %}
            {% include 'moviedb/companies_list.html' %}
        {% endif %}
        {% include 'moviedb/partials/pagination.html' %}
    </div>
{% endblock %}
