{% load static %}
<div class="external-links-container">
    <a class="dtail-link external-link"
       href="https://www.themoviedb.org/person/{{ person.tmdb_id }}"
       target="_blank">
        <img src="{% static 'images/tmdb.svg' %}" alt="TMDB">
    </a>
    {% if person.imdb_id %}
        <a class="dtail-link external-link"
           href="https://www.imdb.com/name/{{ person.imdb_id }}"
           target="_blank">
            <img src="{% static 'images/imdb.png' %}" alt="IMDb">
        </a>
    {% endif %}
</div>
