{% load humanize %}
<ul class="pagination justify-content-center">
    <li class="page-item {% if not page_obj.has_previous or page_obj.number == 1 %}disabled{% endif %}">
        <a class="page-link"
           href="{% if page_obj.has_previous and page_obj.number > 1 %}{{ request.path }}?page=1{% else %}#{% endif %}"
           aria-label="First">
            <span aria-hidden="true">First</span>
        </a>
    </li>
    <li class="page-item {% if not page_obj.has_previous %}disabled{% endif %}">
        <a class="page-link"
           href="{% if page_obj.has_previous %}{{ request.path }}?page={{ page_obj.previous_page_number }}{% else %}#{% endif %}"
           aria-label="Previous">
            <span aria-hidden="true">Prev</span>
        </a>
    </li>
    <li class="page-item active">
        <span class="page-link">{{ page_obj.number|intcomma }} of {{ page_obj.paginator.num_pages|intcomma }}</span>
    </li>
    <li class="page-item {% if not page_obj.has_next %}disabled{% endif %}">
        <a class="page-link"
           href="{% if page_obj.has_next %}{{ request.path }}?page={{ page_obj.next_page_number }} {% else %} # {% endif %} "
           aria-label="Next">
            <span aria-hidden="true">Next</span>
        </a>
    </li>
    <li class="page-item {% if not page_obj.has_next or page_obj.number == page_obj.paginator.num_pages %}disabled{% endif %}">
        <a class="page-link"
           href="{% if page_obj.has_next and page_obj.number < page_obj.paginator.num_pages %}{{ request.path }}?page={{ page_obj.paginator.num_pages }}{% else %}#{% endif %}"
           aria-label="Last">
            <span aria-hidden="true">Last</span>
        </a>
    </li>
</ul>
