<div class="dropdown sort-dropdown">
    <button class="toggle-btn dropdown-toggle"
            type="button"
            data-bs-toggle="dropdown"
            aria-expanded="false">{{ verbose_sort_by }}</button>
    <ul class="dropdown-menu">
        {% for field, verbose_field in sort_by_dict.items %}
            {% if forloop.counter0|divisibleby:2 and forloop.counter0 != 0 %}<div class="dropdown-divider"></div>{% endif %}
            <li>
                <a class="dropdown-item {% if forloop.counter == 1 %}first-item{% elif forloop.counter == sort_by_dict|length %}last-item{% endif %} {% if sort_by == field %}active{% endif %}"
                   href="{% if country or language %}{% url year_route_name slug=slug sort_by=field decade=decade year=year %}{% else %}{% url 'movies_year' sort_by=field decade=decade year=year %}{% endif %}">{{ verbose_field }}</a>
            </li>
        {% endfor %}
    </ul>
</div>
