{% extends 'base.html' %}
{% load static %}
{% block content %}
    {% include 'moviedb/other/includes/collection_backdrop.html' %}
    <div class="detail collection container">
        <div class="row detail-header collection-header">
            <div class="col-12 col-md-4 col-lg-3">
                {% if collection.poster_path %}
                    <img src="https://image.tmdb.org/t/p/w500{{ collection.poster_path }}"
                         class="detail-poster collection-poster rounded"
                         alt="{{ collection.name }}">
                {% else %}
                    <div class="poster-container">
                        <div class="missing-poster rounded">
                            <span>No Poster Available</span>
                        </div>
                    </div>
                {% endif %}
            </div>
            <div class="col-12 col-md-8 col-lg-9 detail-info collection-info">
                <h3 class="detail-title collection-title">{{ collection.name }}</h3>
                {% if collection.overview %}<p class="detail-overview collection-overview">{{ collection.overview }}</p>{% endif %}
                <span class="total-results" id="total-results">
                    {% if total_movies %}
                        {{ total_movies }} movie{{ total_movies|pluralize }}
                    {% else %}
                        No movies
                    {% endif %}
                in collection</span>
            </div>
        </div>
        <div id="content-grid" class="movie-list">{% include 'moviedb/movies/movie_list.html' %}</div>
    </div>
{% endblock %}
